<h1>Ma bibliothèque</h1>

<button routerLink="/books/add">
  Ajouter un livre
</button>

<div class="books-container">
  <!-- TODO 13 : Les données sont passées à la liste mais pas affichées. Affiche les données -->
  <div *ngIf="books && books.length > 0; else noBooks">
    <app-book-card
      *ngFor="let book of books"
      [book]="book"
      [showActions]="true"
      (toggleFavorite)="toggleFavorite($event)"
      (deleteBook)="deleteBook($event)"
    ></app-book-card>
  </div>

  <ng-template #noBooks>
    <p>Aucun livre dans votre bibliothèque. Commencez par en ajouter un!</p>
  </ng-template>
</div>
